.calculator {
  padding: 1.8125rem 1.5rem 2rem 1.5rem;
}

.calculator__header {
  margin-bottom: 1.5rem;
}

.calculator__type {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.3125rem;
}

.calculator__clear-all-input-button {
  color: var(--slate-700);
  text-decoration: 0.125rem underline var(--slate-500);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

.calculator__clear-all-input-button:hover,
.calculator__clear-all-input-button:focus {
  color: var(--slate-900);
}

.calculator__input-field {
  display: grid;
  grid-template-columns: 1fr;
  border: none;
}

.calculator__input-field > div {
  display: flex;
  flex-direction: column;
}

.calculator__input-label {
  color: var(--slate-700);
  margin-bottom: 0.6875rem;
}

.calculator__input-wrapper {
  display: flex;
  height: 3.125rem;
  border: 0.0625rem solid var(--slate-700);
  border-radius: 0.3125rem;
  margin-bottom: 1.4375rem;
  overflow: hidden;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out;
}

.calculator__input-wrapper:hover {
  border-color: var(--slate-900);
}

.calculator__input-wrapper:focus-within {
  border-color: var(--lime);
}

.calculator__input-wrapper--mortgage-amount {
  flex-direction: row-reverse;
}

.calculator__input-wrapper:focus-within > span {
  background-color: var(--lime);
  color: var(--slate-900);
}

.calculator__input-wrapper > span {
  display: flex;
  justify-content: center;
  font-size: 1.1875rem;
  font-weight: var(--font-weight-bold);
  color: var(--slate-700);
  background-color: var(--slate-100);
  padding: 0.625rem 0.96875rem 0 0.96875rem;
}

.calculator__input-wrapper--mortgage-term > span {
  padding: 0.625rem 0.9375rem 0 0.9375rem;
}

.calculator__input-wrapper.calculator__input-wrapper--error {
  border-width: 0.125rem;
  border-color: var(--red);
  margin-bottom: 0;
}

.calculator__input-wrapper.calculator__input-wrapper--error > span {
  background-color: var(--red);
  color: var(--white);
}

.calculator__input-wrapper--error:hover {
  border-color: hsl(4, 75%, 47%);
}

.calculator__input-wrapper--error:hover > span {
  background-color: hsl(4, 75%, 47%);
}

.calculator__input {
  font: inherit;
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 1.0625rem;
  color: inherit;
}

.calculator__input--radio {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 1.125rem;
  margin-bottom: 0.625rem;
  transition: 
    border-color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
}

.calculator__input--radio:has(input:checked) {
  border-color: var(--lime);
  background-color: hsla(61, 70%, 52%, 0.1);
}

.calculator__input--radio:hover {
  border-color: var(--lime);
}

.calculator__input--radio:last-of-type {
  margin-bottom: 0;
}

.calculator__input--radio > input {
  position: relative;
  accent-color: var(--lime);
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 0.125rem solid var(--slate-700);
  margin-right: 1.125rem;
}

.calculator__input--radio > input:checked {
  border-color: var(--lime);
}

.calculator__input--radio > input:checked::before {
  content: '';
  width: 0.625rem;
  height: 0.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--lime);
  border-radius: 50%;
}

.input__error-message {
  font-size: 0.875rem;
  color: var(--red);
  margin: 0.625rem 0 1.5rem 0;
}

.calculator__input-field--radio .input__error-message {
  margin-bottom: 1.0625rem;
}

.calculator__submit-button {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lime);
  width: 100%;
  height: 3.5rem;
  border: none;
  border-radius: 7rem;
  margin-top: 1.4375rem;
  cursor: pointer;
  transition: 
    background-color 0.15s ease-in-out;
}

.calculator__submit-button:hover {
  background-color: hsla(61, 70%, 52%, 0.65);
}

.calculator__submit-button > img {
  height: 1.5rem;
  width: auto;
  margin-right: 0.75rem;
}

@media (min-width: 1050px) {
  .calculator {
    padding: 2.3125rem 2.4375rem 2.5rem 2.4375rem;
  }

  .calculator__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .calculator__input-field {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.375rem;
  }

  .calculator__input-field > div:first-of-type {
    grid-column: span 2;
  }

  .calculator__submit-button {
    margin-top: 2.4375rem;
  }
}