:root {
  /* Colors */

  /** Primary **/
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);

  /** Neutral **/

  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);

  /* Font Weights */
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--slate-900);
  background-color: var(--slate-100);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

main > * {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, button {
  font: inherit;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}