.results {
  color: var(--slate-300);
  background-color: var(--slate-900);
  padding: 31.625px 0;
}

.results--empty {
  text-align: center;
}

.results__header {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--white);
  margin-bottom: 14px;
}

.results__illustration-empty {
  width: 192.25px;
  margin-bottom: 7px;
}