.results {
  color: var(--slate-300);
  background-color: var(--slate-900);
  padding: 1.9765625rem 1.75rem;
}

.results.results--complete {
  padding: 1.8125rem 1.5rem 2rem 1.5rem;
}

.results--empty {
  text-align: center;
}

.results__header {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--white);
  margin-bottom: 0.8125rem;
}

.results__illustration-empty {
  width: 12.015625rem;
  margin-bottom: 0.5rem;
}

.results__values {
  background-color: hsl(202, 56%, 12%);
  margin-top: 1.5rem;
  border-top: 0.25rem solid var(--lime);
  border-radius: 0.5rem;
  padding: 1.25rem 1rem 1.3125rem 1rem;
}

.results__values > span {
  display: inline-block;
}

.results__values hr {
  background-color: var(--slate-700);
  height: 0.0625rem;
  width: 100%;
  border: none;
  margin: 0.75rem 0 1rem 0;
}

.result__monthly-payment {
  font-size: 2.5rem;
  color: var(--lime);
  margin-top: 0.125rem;
}

.result__total-payment {
  font-size: 1.5rem;
  color: var(--white);
  margin-top: 0.3125rem;
}

.result__monthly-payment,
.result__total-payment {
  font-weight: var(--font-weight-bold);
}

@media (min-width: 1050px) {
  .results {
    border-bottom-left-radius: 5.25rem;
  }

  .results--empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .results.results--complete {
    padding: 2.3125rem 2.5rem 2rem 2.5rem;
  }

  .results__illustration-empty {
    margin-bottom: 0.8125rem;
  }

  .results:not(.results--complete) .results__header {
    margin-bottom: 0.875rem;
  }

  .results__values {
    padding: 1.75rem 2rem 1.8125rem 2rem;
    margin-top: 2.5rem;
  }

  .results__values hr {
    margin: 1.5625rem 0 2rem 0;
  }

  .result__monthly-payment {
    font-size: 3.5rem;
    margin-top: 0.0625rem;
  }
}