.results {
  color: var(--slate-300);
  background-color: var(--slate-900);
  padding: 31.625px 28px;
}

.results.results--complete {
  padding: 29px 24px 32px 24px;
}

.results--empty {
  text-align: center;
}

.results__header {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--white);
  margin-bottom: 14px;
}

.results--complete > .results__header {
  margin-bottom: 13px;
}

.results__illustration-empty {
  width: 192.25px;
  margin-bottom: 7px;
}

.results__values {
  background-color: hsl(202, 56%, 12%);
  margin-top: 24px;
  border-top: 4px solid var(--lime);
  border-radius: 8px;
  padding: 20px 16px 21px 16px;
}

.results__values > span {
  display: inline-block;
}

.results__values hr {
  background-color: var(--slate-700);
  height: 1px;
  width: 100%;
  border: none;
  margin: 12px 0 16px 0;
}

.result__monthly-payment {
  font-size: 40px;
  color: var(--lime);
  margin-top: 2px;
}

.result__total-payment {
  font-size: 24px;
  color: var(--white);
  margin-top: 5px;
}

.result__monthly-payment,
.result__total-payment {
  font-weight: var(--font-weight-bold);
}

@media (min-width: 1050px) {
  .results {
    border-bottom-left-radius: 84px;
  }

  .results--empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .results.results--complete {
    padding: 37px 40px 32px 40px;
  }

  .results__values {
    padding: 28px 32px 29px 32px;
    margin-top: 40px;
  }

  .results__values hr {
    margin: 25px 0 32px 0;
  }

  .result__monthly-payment {
    font-size: 56px;
    margin-top: 1px;
  }
}